lib/*
test/rollingStats_test.dSYM
test/rollingStats_test
test/movingAverage_test.dSYM
test/movingAverage_test
test/movingAverageClass_test.dSYM
test/movingAverageClass_test
test/.cache

test/compile_commands.json
src/compile_commands.json

src/.cache

